@model FarmaciesWebApp.ViewModels.FarmacyViewModel

@{
    ViewBag.Title = "Farmacies";
}

<h2>Farmacies</h2>

@using (Html.BeginForm("Search", "Farmacy"))
{
<div class="input-group">
    <span class="input-group-btn">
        <button class="btn btn-primary">Go</button>
    </span>
    @Html.TextBoxFor(model => model.SearchString)
</div>
}

<table class="table">
   
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Location</th>
            <th>Postal Code</th>
            <th>Phone Number</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var farmacy in Model.Farmacies)
        {
        <tr>
            <td>@Html.DisplayFor(x=> farmacy.Name)</td>
            <td>@Html.DisplayFor(x=> farmacy.Address)</td>
            <td>@Html.DisplayFor(x=> farmacy.Location.Name)</td>
            <td>@Html.DisplayFor(x=> farmacy.PostalCode)</td>
            <td>@Html.DisplayFor(x=> farmacy.PhoneNumber)</td>
            <td>@Html.DisplayFor(x=> farmacy.Email)</td>
            <td>
                @Html.ActionLink("Edit","Edit", new { id = farmacy.Id}, new { @class="btn btn-default"})
                @Html.ActionLink("Details","Details", new { id = farmacy.Id}, new { @class="btn btn-default"})
                @Html.ActionLink("Delete","Delete", new { id = farmacy.Id}, new { @class="btn btn-danger"})
            </td>
        </tr>
        }
        
    </tbody>
</table>